name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test 1. Rope creation
      id: test-1-rope-creation
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 1. Rope creation
        setup-command: ''
        command: make test-rope-create
        timeout: 2
        max-score: 2
    - name: Test 2. Rope total weight
      id: test-2-rope-total-weight
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 2. Rope total weight
        setup-command: ''
        command: make test-rope-totalweight
        timeout: 10
        max-score: 3
    - name: Test 3. Rope isLeaf
      id: test-3-rope-isleaf
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 3. Rope isLeaf
        setup-command: ''
        command: make test-rope-isleaf
        timeout: 5
        max-score: 1
    - name: Test 4. Rope collect
      id: test-4-rope-collect
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 4. Rope collect
        setup-command: ''
        command: make test-rope-collect
        timeout: 5
        max-score: 3
    - name: Test 5. Rope search with charAt
      id: test-5-rope-search-with-charat
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 5. Rope search with charAt
        setup-command: ''
        command: make test-rope-charat
        timeout: 5
        max-score: 3
    - name: Test 6. Rope concatentation
      id: test-6-rope-concatentation
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 6. Rope concatentation
        setup-command: ''
        command: make test-rope-concat
        timeout: 5
        max-score: 2
    - name: Test 7. Rope tail
      id: test-7-rope-tail
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 7. Rope tail
        setup-command: ''
        command: make test-rope-tail
        timeout: 5
        max-score: 4
    - name: Test 8. Rope head
      id: test-8-rope-head
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 8. Rope head
        setup-command: ''
        command: make test-rope-head
        timeout: 5
        max-score: 4
    - name: Test 9. Rope subrope
      id: test-9-rope-subrope
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 9. Rope subrope
        setup-command: ''
        command: make test-rope-subrope
        timeout: 5
        max-score: 3
    - name: Test 10. Rope delete
      id: test-10-rope-delete
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 10. Rope delete
        setup-command: ''
        command: make test-rope-delete
        timeout: 5
        max-score: 4
    - name: Test 11. Rope insert
      id: test-11-rope-insert
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 11. Rope insert
        setup-command: ''
        command: make test-rope-insert
        timeout: 5
        max-score: 4
    - name: Test 12. Rope reduce
      id: test-12-rope-reduce
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 12. Rope reduce
        setup-command: ''
        command: make test-rope-reduce
        timeout: 10
        max-score: 5
    - name: Test 13. Document makeWordRope
      id: test-13-document-makewordrope
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 13. Document makeWordRope
        setup-command: ''
        command: make test-document-makewordrope
        timeout: 5
        max-score: 3
    - name: Test 14. Document read
      id: test-14-document-read
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 14. Document read
        setup-command: ''
        command: make test-document-read
        timeout: 5
        max-score: 4
    - name: Test 15. Document write
      id: test-15-document-write
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 15. Document write
        setup-command: ''
        command: make test-document-write
        timeout: 5
        max-score: 3
    - name: Test 16. Document collect
      id: test-16-document-collect
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 16. Document collect
        setup-command: ''
        command: make test-document-collect
        timeout: 5
        max-score: 3
    - name: Test 17. Document Get and Set
      id: test-17-document-get-and-set
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 17. Document Get and Set
        setup-command: ''
        command: make test-document-getset
        timeout: 5
        max-score: 2
    - name: Test 18. Document add
      id: test-18-document-add
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 18. Document add
        setup-command: ''
        command: make test-document-add
        timeout: 5
        max-score: 2
    - name: Test 19. Document delete
      id: test-19-document-delete
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 19. Document delete
        setup-command: ''
        command: make test-document-delete
        timeout: 5
        max-score: 2
    - name: Test 20. Check style
      id: test-20-check-style
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test 20. Check style
        setup-command: ''
        command: make test-style
        timeout: 5
        max-score: 5
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST-1-ROPE-CREATION_RESULTS: "${{steps.test-1-rope-creation.outputs.result}}"
        TEST-2-ROPE-TOTAL-WEIGHT_RESULTS: "${{steps.test-2-rope-total-weight.outputs.result}}"
        TEST-3-ROPE-ISLEAF_RESULTS: "${{steps.test-3-rope-isleaf.outputs.result}}"
        TEST-4-ROPE-COLLECT_RESULTS: "${{steps.test-4-rope-collect.outputs.result}}"
        TEST-5-ROPE-SEARCH-WITH-CHARAT_RESULTS: "${{steps.test-5-rope-search-with-charat.outputs.result}}"
        TEST-6-ROPE-CONCATENTATION_RESULTS: "${{steps.test-6-rope-concatentation.outputs.result}}"
        TEST-7-ROPE-TAIL_RESULTS: "${{steps.test-7-rope-tail.outputs.result}}"
        TEST-8-ROPE-HEAD_RESULTS: "${{steps.test-8-rope-head.outputs.result}}"
        TEST-9-ROPE-SUBROPE_RESULTS: "${{steps.test-9-rope-subrope.outputs.result}}"
        TEST-10-ROPE-DELETE_RESULTS: "${{steps.test-10-rope-delete.outputs.result}}"
        TEST-11-ROPE-INSERT_RESULTS: "${{steps.test-11-rope-insert.outputs.result}}"
        TEST-12-ROPE-REDUCE_RESULTS: "${{steps.test-12-rope-reduce.outputs.result}}"
        TEST-13-DOCUMENT-MAKEWORDROPE_RESULTS: "${{steps.test-13-document-makewordrope.outputs.result}}"
        TEST-14-DOCUMENT-READ_RESULTS: "${{steps.test-14-document-read.outputs.result}}"
        TEST-15-DOCUMENT-WRITE_RESULTS: "${{steps.test-15-document-write.outputs.result}}"
        TEST-16-DOCUMENT-COLLECT_RESULTS: "${{steps.test-16-document-collect.outputs.result}}"
        TEST-17-DOCUMENT-GET-AND-SET_RESULTS: "${{steps.test-17-document-get-and-set.outputs.result}}"
        TEST-18-DOCUMENT-ADD_RESULTS: "${{steps.test-18-document-add.outputs.result}}"
        TEST-19-DOCUMENT-DELETE_RESULTS: "${{steps.test-19-document-delete.outputs.result}}"
        TEST-20-CHECK-STYLE_RESULTS: "${{steps.test-20-check-style.outputs.result}}"
      with:
        runners: test-1-rope-creation,test-2-rope-total-weight,test-3-rope-isleaf,test-4-rope-collect,test-5-rope-search-with-charat,test-6-rope-concatentation,test-7-rope-tail,test-8-rope-head,test-9-rope-subrope,test-10-rope-delete,test-11-rope-insert,test-12-rope-reduce,test-13-document-makewordrope,test-14-document-read,test-15-document-write,test-16-document-collect,test-17-document-get-and-set,test-18-document-add,test-19-document-delete,test-20-check-style
